[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = HCITanYR
	email = 157767978+HCITanYR@users.noreply.github.com
