
        body {
            background-color: #ffffff;
        }
        .seating-plan {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        #zoomable-content {
            overflow: hidden;
            cursor: move;
            height: 500px;
        }
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .seat {
            width: 100px;
            height: 100px;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-weight: bold;
            font-size: 16px;
            color: #000;
            flex-shrink: 0;
            transition: background-color 0.3s
            /* Default background color for empty seats */
        }
        .seat.unoccupied {
            background-color: #ccc;
            /* Grey for unoccupied seats */
        }
        .seat.occupied {
            background-color: #d2a679;
            /* Background color for occupied seats */
        }

        /* Visual feedback while a seat is being dragged */
        .dragging {
            opacity: 0.5;
            /* Make the seat semi-transparent */
        }

        /* Visual feedback for a valid drop target */
        .over {
            border: 2px dashed grey;
            /* Add a dashed border to indicate a valid drop target */
        }

        .locked {
            position: relative;
        }
        .locked::before {
            content: '\f023';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 14px;
            color: #000;
        }
        .warning {
            position: relative;
        }
        .warning::before {
            content: "\f071";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 14px;
            color: red;
        }
        .student {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .delete-btn {
            display: none;
            cursor: pointer;
            position: absolute;
            right: 5px;
            top: 5px;
        }

        .student:hover .delete-btn {
            display: inline;
        }
        
        .table-responsive {
            max-height: 400px;
            overflow-y: auto;
        }

        #csv-table td.selected {
            background-color: #d1e7dd; /* Light green background for selected cells */
        }
        .unselectable {
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
