body {
    background-color: #ffffff;
}
#editpage {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow it to grow and fill the available height */
    height: 100vh;
}
#menu-bar {
    height: 4rem;
    align-items: center;
}
#designtitle {
    cursor: text;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: left;
}
#designtitle:hover {
    background-color: #f0f0f0;
}
#main-content {
    display: flex; /* Enable flex layout */
    max-height: calc(100vh - 4rem); /* Set the max height */
    overflow: hidden; /* Prevent overflow outside this container */
}
#left-section {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* overflow: auto; */
    width: 25rem; /* Fixed width */
    min-width: 0; /* Ensure it can shrink below content size in flex context */
}
#right-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#toolbar {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bottom-bar {
    height: 3.5rem;
}
/* Center Content Styling */
.layout-container {
    justify-content: space-between; /* Space evenly between top and bottom buttons */
    position: relative;
    width: 100%; /* Added: Fixed width */
    height: 100%; /* Added: Fixed height */
    overflow: hidden; /* Added: Prevent overflow */
    max-height: fit-content;
}

/* #zoomable-content {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    touch-action: none;
    cursor: grab;
}

#zoomable-content:active {
    cursor: grabbing;
} */
.seating-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}
.add-row-div {
    width: 61vw;
    height: 7vh;
    margin-left: 8vh;
}
.add-column-div {
    width: 5vw;
    height: 60vh;
}
#zoomable-content {
    width: 60vw; /* Added: Fixed width */
    height: 60vh; /* Added: Fixed height */
    overflow: hidden;
    position: relative;
    background-color:#f5f5f5;
    background-image: 
        linear-gradient(to right, #ccc 1px, transparent 1px),
        linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-size: 20px 20px; /* Adjust the size of the grid cells */
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.seat {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    border: #000100 1px solid;
    flex-shrink: 0;
    transition: background-color 0.3s;
    /* Default background color for empty seats */
}
.seat.unoccupied {
    background-color: #9e9e9e;
    /* Grey for unoccupied seats */
}
.seat.occupied {
    background-color: #d2a679;
    /* Background color for occupied seats */
}
.seat.empty {
    background-color: transparent;
    border: black 1px dashed;
    /* Grey for unoccupied seats */
}

/* Visual feedback while a seat is being dragged */
.dragging {
    opacity: 0.5;
    /* Make the seat semi-transparent */
}

/* Visual feedback for a valid drop target */
.over {
    border: 2px dashed grey;
    /* Add a dashed border to indicate a valid drop target */
}

.locked {
    position: relative;
}
.locked::before {
    content: "\f023";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    color: #000;
}
.warning {
    position: relative;
}
.warning::before {
    content: "\f071";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: x;
    top: 5px;
    right: 5px;
    font-size: 14px;
    color: red;
}
.student {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-btn {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.student:hover .delete-btn {
    display: inline;
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}

#csv-table td.selected {
    background-color: #d1e7dd; /* Light green background for selected cells */
}
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#help {
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
}

/* context menu */

.context-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    min-width: 150px;
    padding: 5px 0;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #f0f0f0;
}
